<div class="container" *ngIf='proposta'>
  <h4 class="my-3">Proposta {{proposta.numero}}</h4>
  <div class="alert alert-success alert-dismissible fade show" *ngIf="mensagem">
    {{mensagem}}
    <button class="close" data-dismiss="alert" arial-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" *ngIf="mensagemErro">
    {{mensagemErro}}
    <button class="close" data-dismiss="alert" arial-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td class="font-weight-bold">Descrição:</td>
        <td>{{proposta.descricao}}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Data Início:</td>
        <td>{{obterDataInicio() | date:'dd/MMM/yyyy'}}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Data Fim:</td>
        <td>{{obterDataFim() | date:'dd/MMM/yyyy'}}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Qtde. horas:</td>
        <td>{{proposta.qtdeHoras}}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Qtde. parcelas:</td>
        <td>
          {{totalNotas}} de {{proposta.qtdeParcelas}}
          <button class="btn btn-outline-info btn-sm ml-3" [routerLink]="['/notas']" [queryParams]="{proposta: proposta._id}" *ngIf="totalNotas != 0">Ver Notas</button>
        </td>
      </tr>
      <tr>
        <td class="font-weight-bold">Valor Estimado:</td>
        <td>{{proposta.valorEstimado | currency:'BRL':'symbol'}}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Fase:</td>
        <td>{{proposta.fase}}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Empresa:</td>
        <td>{{proposta.empresa}}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Observações:</td>
        <td>{{proposta.observacoes}}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex">
    <div>
      <button type="button" class="btn btn-secundary" routerLink="edit">Editar</button>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exclusaoModal">Excluir</button>
    </div>
    <button class="btn btn-outline-primary ml-auto" (click)="goBack()">Voltar</button>
  </div>
  <div class="modal fade" [class.show]="showModal" id="exclusaoModal" tabindex="-1" role="dialog" aria-labelledby="exclusaoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Exclusão de Proposta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" hidden #closeModal>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir a proposta {{proposta.numero}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="excluir()" [disabled]="loading">{{loading ? 'Excluindo...' : 'Sim'}}</button>
          <button type="button" class="btn btn-secundary" data-dismiss="modal">Não</button>
        </div>
      </div>
    </div>
  </div>
</div>