<div class="container">
  <h4 class="my-3">{{title}}</h4>
  <div class="alert alert-success alert-dismissible fade show" *ngIf="mensagem">
    {{mensagem}}
    <button class="close" data-dismiss="alert" arial-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" *ngIf="mensagemErro">
    {{mensagemErro}}
    <button class="close" data-dismiss="alert" arial-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="d-flex">
    <div>
      <app-pagination [loading]="loading" [page]="page" [perPage]="perPage" [count]="total" [pagesToShow]="3" (goNext)="onNext()"
        (goPrev)="onPrev()" (goPage)="onPage($event)">
      </app-pagination>
    </div>
    <div class="ml-auto">
      <button class="btn btn-primary" routerLink="/propostas/new">
        <span class="oi oi-plus"></span>
      </button>
      <button class="btn btn-secundary" data-toggle="collapse" data-target="#collapseFiltro">
        <span class="oi oi-magnifying-glass"></span>
      </button>
    </div>
  </div>
</div>