<div class="container">
  <h4 class="my-3">{{title}}</h4>

  <!-- MENSAGENS DE ALERTA -->
  <div class="alert alert-success alert-dismissible fade show" *ngIf="mensagem">
    {{mensagem}}
    <button class="close" data-dismiss="alert" arial-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" *ngIf="mensagemErro">
    {{mensagemErro}}
    <button class="close" data-dismiss="alert" arial-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- PAGINACAO -->
  <div class="d-flex">
    <div>
      <app-pagination [loading]="loading" [page]="page" [perPage]="perPage" [count]="total" [pagesToShow]="3" (goNext)="onNext()"
        (goPrev)="onPrev()" (goPage)="onPage($event)">
      </app-pagination>
    </div>
    <div class="ml-auto">
      <button class="btn btn-primary" routerLink="/propostas/new">
        <span class="oi oi-plus"></span>
      </button>
      <button class="btn btn-secundary" data-toggle="collapse" data-target="#collapseFiltro">
        <span class="oi oi-magnifying-glass"></span>
      </button>
    </div>
  </div>

  <!-- FILTROS PARA PESQUISAR AS PROPOSTAS -->
  <div class="collapse" id="collapseFiltro">
    <div class="card border-secundary mb-3">
      <div class="card-header">Filtrar</div>
      <div class="card-body">
        <div class="form-group">
          <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Pesquisar por..." (keyup.enter)="restartSearch()">
        </div>
        <label>Por recebimento</label>
        <div class="form-group">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="radioAreceber" name="recebimentos" class="custom-control-input" [(ngModel)]="recebimento" value="2">
            <label class="custom-control-label" for="radioAreceber">A receber</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="recebendo" name="recebimentos" class="custom-control-input" [(ngModel)]="recebimento" value="1">
            <label class="custom-control-label" for="recebendo">Recebendo</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="recebida" name="recebimentos" class="custom-control-input" [(ngModel)]="recebimento" value="0">
            <label class="custom-control-label" for="recebida">Recebida</label>
          </div>
        </div>
        <button class="btn btn-primary" type="button" (click)="restartSearch()" [disabled]="loading">OK</button>
        <button class="btn btn-secundary" type="button" (click)="clearSearch()" [disabled]="loading">Limpar</button>
      </div>
    </div>
  </div>

  <!-- LISTA DAS PROPOSTAS -->
  <div class="table-responsive">
    <table class="table table-hover">
      <caption *ngIf="!temPropostas && !loading">Não há propostas para serem listadas.</caption>
      <thead class="thead-light">
        <tr>
          <th style="min-width: 150px">Número</th>
          <th style="min-width: 400px">Descrição</th>
          <th>Empresa</th>
          <th>Horas</th>
        </tr>
      </thead>
      <tbody>
        <tr [class.table-danger]="proposta.recebimento === 2" [class.table-primary]="proposta.recebimento === 1" *ngFor="let proposta of propostas"
          (click)="goToProposta(proposta._id)">
          <td>{{proposta.numero}}</td>
          <td>{{proposta.descricao}}</td>
          <td>{{proposta.empresa}}</td>
          <td>{{proposta.qtdeHoras}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <span class="badge badge-pill table-danger">A receber</span>
    <span class="badge badge-pill table-primary">Recebendo</span>
    <span class="badge badge-pill table-light">Recebida</span>
  </div>
</div>